:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0px;
}

.nav-list > li {
  padding: 1rem;
}
.nav-item:hover {
  color: var(--dark-blue);
  border-bottom: solid 3px transparent;
  border-image: linear-gradient(
    to right,
    var(--lime-green),
    var(--bright-cyan)
  );
  border-image-slice: 1;
  cursor: pointer;
}
a:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    var(--lime-green),
    var(--bright-cyan)
  );
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
a:active {
  color: var(--bright-cyan);
}

button:hover {
  cursor: pointer;
}

.icons {
  height: 2rem;
  cursor: pointer;
}
img[type="svg"]:hover {
  height: 120%;
  flex-shrink: 0;
  margin: 3px;
  filter: invert(67%) sepia(85%) saturate(459%) hue-rotate(77deg)
    brightness(91%) contrast(82%);
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 580px;
}
.nav-container {
  max-width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0rem 1rem;
  margin-right: 1rem;
  box-sizing: border-box;
}

.nav-list {
  display: none;
}
.nav-btn {
  display: none;
}

.intro-container {
  background-image: url("./images/bg-intro-mobile.svg");
  background-position: top 0% right 0%;
  background-repeat: no-repeat;
  background-size: 115%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 580px;
}

.request-invite-btn {
  background-image: linear-gradient(
    to right,
    var(--lime-green),
    var(--bright-cyan)
  );
  height: 45px;
  border-radius: 30px;
  border-style: none;
  color: var(--very-light-gray);
  width: 50%;
  max-width: 280px;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem 0.4rem 0.5rem;
}
.intro-button {
  margin-top: 2rem;
}

.intro-image {
  width: 100%;
}

.sub-title {
  font-size: 2.2rem;
  color: var(--dark-blue);
  font-weight: 300;
}
.intro-text-container {
  padding: 1.3rem;
}
.intro-description {
  margin: 10px 0px;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--grayish-blue);
}

.why-choose-us {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--very-light-gray);
  padding: 3rem 0rem;
  margin-bottom: -10px;
}

.features-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  background-color: var(--very-light-gray);
  padding: 1.3rem;
}

.feature {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
  height: 25vh;
}
.feature-title {
  font-size: 1.3rem;
  color: var(--dark-blue);
}
.feature-description {
  margin: 10px 0px;
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--grayish-blue);
}
.article-container {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
}
.article-container-title {
  text-align: center;
  color: var(--dark-blue);
  font-size: 1.5rem;
}
.article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.article-thumbnail {
  width: 100%;
}
.article-text-container {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 15vh;
}
.author {
  color: var(--grayish-blue);
  font-size: 0.7rem;
}
.article-title {
  color: var(--dark-blue);
  font-size: 1.2rem;
}
.article-summary {
  color: var(--grayish-blue);
  font-size: 0.8rem;
}
.footer {
  background-color: var(--dark-blue);
  color: var(--very-light-gray);
  text-align: center;
  padding: 1.5rem;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5rem;
  max-width: 580px;
}
.footer-svg-color {
  margin: 1rem;
  width: 45%;
}
.social-media {
  display: flex;
  justify-content: space-around;
  width: 60%;
  gap: 10px;
  margin: 1rem 0rem;
  height: 25px;
}

.footer-btn {
  margin: 1.5rem 0rem;
}
.disclaimer {
  color: var(--grayish-blue);
  color: 0.4rem;
}
.footer-list-item {
  text-decoration: none;
  color: var(--very-light-gray);
}

.mob-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10vh;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  height: 30%;
  width: 60%;
  background-color: white;
  margin: 40px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--dark-blue);
  font-size: 1.3rem;
}

.icon-container {
  height: 30%;
  width: 30px;
  background-image: url("./images/icon-hamburger.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-container2 {
  height: 30%;
  width: 30px;
  background-image: url("./images/icon-close.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.hide {
  display: none;
}

@media screen and (min-width: 992px) {
  .home-container {
    padding-left: 30px;
    width: 100vw;
    max-width: 1600px;
  }
  .mob-modal {
    display: none;
  }
  .nav-container {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0px 50px;
  }

  .nav-list {
    display: block;
    display: flex;
    width: auto;
    justify-content: center;
    gap: 20px;
    color: var(--grayish-blue);
  }
  .nav-btn {
    display: block;
  }
  .icon-container {
    display: none;
  }

  .icon-container2 {
    display: none;
  }

  .intro-container {
    background-image: url("./images/bg-intro-desktop.svg");
    background-position: top 0% right 0%;
    background-repeat: no-repeat;
    background-size: 60%;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
  }

  .request-invite-btn {
    background-image: linear-gradient(
      to right,
      var(--lime-green),
      var(--bright-cyan)
    );
    height: 45px;
    border-radius: 30px;
    border-style: none;
    color: var(--very-light-gray);
    width: 40%;
    max-width: 200px;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.5rem 0.5rem 0.4rem 0.5rem;
  }
  .intro-button {
    margin-top: 2rem;
  }

  .intro-image {
    width: 50%;
    order: 1;
  }

  .sub-title {
    font-size: 2.2rem;
    color: var(--dark-blue);
    font-weight: 300;
  }
  .intro-text-container {
    width: 25%;
    padding: 1.3rem;
  }
  .intro-description {
    margin: 10px 0px;
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--grayish-blue);
  }

  .why-choose-us {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: var(--very-light-gray);
    padding-top: 0rem;
    padding-bottom: 3rem;
    margin-bottom: -10px;
  }

  .features-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
    background-color: var(--very-light-gray);
    padding: 1.3rem;
  }

  .feature {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px 0px;
    height: 30vh;
    width: 20%;
    margin-right: 20px;
    text-align: left;
  }
  .feature-title {
    font-size: 1.3rem;

    align-self: flex-start;
    color: var(--dark-blue);
  }
  .feature-description {
    margin: 10px 0px;
    font-size: 0.95rem;
    line-height: 1.5;
    color: var(--grayish-blue);
  }
  .article-container {
    background-color: var(--white);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 1.5rem;
  }
  .article-container-title {
    text-align: left;
    color: var(--dark-blue);
    font-size: 1.5rem;
  }
  .article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    margin-right: 20px;
  }
  .article-thumbnail {
    width: 100%;
    height: 40%;
    border-radius: 10px;
  }
  .article-text-container {
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    height: 15vh;
  }
  .author {
    color: var(--grayish-blue);
    font-size: 0.7rem;
  }
  .article-title {
    color: var(--dark-blue);
    font-size: 1.2rem;
  }
  .article-summary {
    color: var(--grayish-blue);
    font-size: 0.8rem;
  }
  .footer {
    background-color: var(--dark-blue);
    color: var(--very-light-gray);
    text-align: center;
    padding: 1.5rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 15vh;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 2.5rem;
    margin-left: 0px;
    max-width: 1600px;
  }
  .footer-svg-color {
    margin: 1rem;
    max-width: 10%;
  }
  .social-media {
    display: flex;
    justify-content: space-around;
    width: 15%;
    height: 3rem;
    gap: 5px;
    margin: 1rem 0rem;
    height: 25px;
    justify-self: center;
  }

  .footer-btn {
    margin: 1.5rem 0rem;
  }
  .disclaimer {
    color: var(--grayish-blue);
    color: 0.3rem;
  }
  .footer-list {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    line-height: 2.5rem;
    align-items: center;
    width: 40%;
  }
}
